# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.pytest_cache/
/data/AirQ/
/experiment/
!/experiment/AG-JNet/net_PeMSD4_12.pkl
model_*.py
.idea
__pycache__/

f
